body {
    background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
    
}
*{
    font-family: Monocraft, Consolas, 'Courier New', monospace;
    font-weight: bold;
}

.box {
    height: 200px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin:auto;
    margin-top: 5%;
    
}

#result {
    width: inherit;
    height: 50px;
    border-top: solid 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    background-color: rgb(172, 181, 196);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.container{
    border: solid 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container row{
    height: 50px;
}

.container row button {
    height: inherit;
    background-color: rgb(181, 181, 163);
}

.dark_mode{
    background-color: black;
    color: white;
}

#changeTheme{
    width: 100px;
    border-radius: 50px;
    
}